@import "variables.scss";

/* Banner */
/* ======================================== */
.banner-video-contenedor{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    z-index: 1;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay{
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.banner-texto-contenedor, .banner-flecha{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner-texto-contenedor{
    width: 50%;
    max-width: 40rem;
    min-width: 15rem;
    img{
        max-width: 70rem;
        width: 80%;
        min-width: 10rem;
    }

    a{
        @include btn-general;

        margin-top: -2rem;
    }
}

.banner-flecha{

    bottom: 0;
    margin-bottom: 1rem;
    p{
        margin-bottom: .5rem;
        font-size: 1.5rem;
        color: white;
        opacity: .5;
        letter-spacing: 1px;
    }

    i{
        font-size: 3rem;
        color: white;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: banner-flecha;
    }
}

@keyframes banner-flecha{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    0%{
        transform: translateY(0);
    }
}


/* Destacados */
/* ======================================== */
.productos-destacados-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;

    h3{
        font-size: 5vw;
        margin: 0;
        margin-bottom: 2rem;
    }
}

.productos-destacados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .woocommerce{
        width: 90%;
        .products{
            display: inline-flex;
            width: max-content;
        }
    }

    .splide__arrow{
        fill: red;
        width: 2.5rem;
        border: 2px solid red;
        background: none;
        height: 2.5rem;

        &:hover{
            background-color: red;
            fill: white;
        }
    }

    .splide__arrow--prev{
        left: 2rem;
    }

    .splide__arrow--next{
        right: 2rem;
    }

    .splide__pagination{
        bottom: -2rem;

        .is-active{
            background-color: red;
        }
    }

    .contenedor-hijos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:500px){
    .productos-destacados{
        .woocommerce .products li{
            width: 70vw;
            min-width: 70vw;
        }

        .splide__arrow{
            width: 2rem;
            height: 2rem;
        }
    
        .splide__arrow--prev{
            left: 1rem;
        }
    
        .splide__arrow--next{
            right: 1rem;
        }
    }
}


/* Busca tu classic Car */
/* ======================================== */
.ver-motos-contenedor{
    position: relative;
    width: 100%;
    background-image: url("../img/fondo-studio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: $espacio-entre-sectores;
    padding-top: 4rem;

    &::after{
        content: "";
        position: absolute;
        width: 40%;
        height: 100%;
        z-index: 1;
        top: 0;
        right: 0;
        background: linear-gradient(-90deg, black 49%, rgba(0, 0, 0, 0) 100%);
        opacity: .2;
    }
}

.ver-motos-texto{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    min-width: 12rem;
    margin-right: $padding-contenedor-texto-sectores;

    h3{
        @include home-h3-estilos;
    }
    p{
        font-size: 3vw;
        margin: 1rem 0;
        margin-top: -1rem;
    }
    a{
        @include btn-general;
    }
}

.ver-motos-moto{
    position: relative;
    z-index: 2;
    width: 60%;
    position: relative;

    img{
        transform: rotateY(180deg);
        width: 100%;
        max-width: 50rem;
        margin-bottom: -17vw;
    }

    h2{
        position: absolute;
        top: 42%;
        left: 60%;
        font-size: 18vw;
        color: white;
        opacity: .5;
        margin: 0;
        transform: translate(-50%, -50%);
    }


}


/* Busca tu classic Car */
/* ======================================== */
.ver-productos-contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/Fondo\ retro\ 2.jpg");
    margin-bottom: $espacio-entre-sectores;

    &::before{
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        background: linear-gradient(90deg, rgba(0,0,0,1) 49%, rgba(0,0,0,0) 100%);
    }
}

.ver-productos-texto-contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    min-width: 22rem;
    padding-left: $padding-contenedor-texto-sectores;
    color: white;

    h3{
        @include home-h3-estilos;
    }
    p{
        font-size: 3vw;
        margin: 1rem 0;
        margin-top: -1rem;
    }
    
    a{
        @include btn-general;
    }


}

.ver-productos-auto-contenedor{
    position: relative;

    h3{
        color: white;
        opacity: .1;
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 23vw;
        font-family: "Abril Fatface";
        z-index: 1;
        margin: 0;
    }

    img{
        position: relative;
        z-index: 10;
        transform: translateY(30%);
        width: 100%;
    }
}

.ver-productos-auto-descripcion{
    position: absolute;
    bottom: 1rem;
    left: 3%;
    font-size: 1.3rem;
    z-index: 3;
    color: white;
    opacity: .3;
}



/* Sector Daily Cars */
/* ======================================== */
.ver-daily-contenedor{
    background-image: url(../img/mercedez-fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: $espacio-entre-sectores;
}


.ver-daily-auto{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h2{
        color: white;
        opacity: .1;
        position: absolute;
        top: 10%;
        left: 30%;
        font-size: 23vw;
        z-index: 1;
        margin: 0;
    }

    img{
        padding-top: 5rem;
        width: 100%;
        max-width: 50rem;
        transform: translateY(25%);
        z-index: 2;
    }

    h3{
        color: white;
        font-size: 7vw;
        margin: 0;
    }
}


.ver-daily-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: $padding-contenedor-texto-sectores;

    a{
        @include btn-general;
    }

    h3{
        @include home-h3-estilos;
    }
}



/* Sector Truck */
/* ======================================== */
.ver-trucks-contenedor{
    width: 100%;
    background-color: #f4f4f4;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $espacio-entre-sectores;

    &::after{
        width: $trucks-contenedor-width;
        height: 100%;
        transform-origin: right bottom;
        transform: skew(30deg, 0deg);
        background: linear-gradient(90deg, rgba(0,0,0,1) -120%, $color-azul 20%);        
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        content: " ";
    }

    &::before{
        content: " ";
        width: $trucks-contenedor-width;
        background-color: rgba(97,192,199,1);
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
    }
}


.ver-trucks-auto{
    width: 60%;    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: white;
        opacity: .35;
        position: absolute;
        top: 5%;
        left: 30%;
        font-size: 23vw;
        z-index: 1;
        margin: 0;
    }

    img{
        margin-top: 5rem;
        width: 100%;
        max-width: 55rem;
        z-index: 3;
        transform: rotateY(180deg) translateY(35%);
    }
}


.ver-trucks-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $padding-contenedor-texto-sectores;

    a{
        @include btn-general;
    }

    h3{
        @include home-h3-estilos;
        color: black;
    }
}



/* Sector Exclusive */
/* ======================================== */
.ver-exclusive-contenedor{
    margin-top: 5rem;
    width: 100%;
    background: $color-verde-gradient;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $espacio-entre-sectores;

    &::after{
        content: " ";
        display: block;
        width: $circle-width;
        position: absolute;
        padding-bottom: $circle-width;
        background-color: white;
        bottom: -30%;
        left: -10%;
        border-radius: 100% 100% 100% 0;
        
    }
}


.ver-exclusive-auto{
    width: 60%;    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: black;
        opacity: .1;
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 18vw;
        z-index: 1;
        margin: 0;
    }

    img{
        margin-top: -30%;
        width: 100%;
        max-width: 55rem;
        z-index: 3;
        transform: rotateY(180deg) translateY(35%);
    }
}


.ver-exclusive-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: $padding-contenedor-texto-sectores;

    a{
        @include btn-general;
    }

    h3{
        @include home-h3-estilos;
    }
}


@media (min-width:1500px){
    .ver-exclusive-contenedor{
        &::after{
            padding-bottom: 0;
            width: 55rem;
            height: 55rem;
            bottom: -15rem;
            left: -10rem;
        }
    }

    .ver-exclusive-auto{
        justify-content: flex-start;
        img{
            margin-top: -20%;
        }
    }
}


/* Sobre nosotros */
/* =========================================== */
.nosotros-contenedor{
    background-image: url(../img/crew.jpg);
    text-align: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 2rem 10%;
    margin-top: 10rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include overlay;
    

    img{
        width: 8rem;
        position: relative;
        z-index: 3;
    }

    h3{
        font-size: 6vw;
        margin-top: 2rem;
        color: white;
        position: relative;
        z-index: 3;
        margin-bottom: 1rem;
    }

    p{
        color: white;
        letter-spacing: 1px;
        font-size: 1.3rem;
        line-height: 2rem;
        position: relative;
        z-index: 3;
        margin-top: 0;
    }
}


/* Contactanos */
/* =========================================== */
.contactanos-contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    background-image: url(../img/Recepcion.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;

    @include overlay;

    &::before {
        display: block;
        content: "";
        position: absolute;
        background: linear-gradient(0deg, rgba(0,0,0,.7) 50%, rgba(0,0,0,0) 100%);
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
    }

    div, h3{
        position: relative;
        z-index: 2;
        color: white;
    }
    h3{
        font-size: 7vw;
        margin: 0;
    }
}

.contactanos-dato{
    span{
        color: red;
        font-size: 1.3rem;
    }
    p{
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }
}

.contactanos-botones{
    a {
        @include btn-general;
        margin: 0 1rem;
        display: inline-block;
    }
}

.contactanos-horarios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    font-size: 2rem;
    min-width: 25rem;

    span{
        color: red;
    }

    p{
        margin: 0;
    }

}

.contactanos-redes{
    a{
        color: white;
        opacity: .5;
        margin: 0 1rem;
        font-size: 2rem;

        &:hover{
            opacity: 1;
        }
    }
}

.contactanos-contenedor .contactanos-footer{
    position: absolute;
    bottom: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}