@import "variables.scss";
@import "home.scss";
@import "tienda.scss";
@import "woocommerce.scss";
@import "categorias.scss";

/* Generales */

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#content .ast-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#primary{
    margin-top: 0;
}

a{
    text-decoration: none;
}

/* NavBar */
/* ======================================== */
$nav-icon-width: 3rem;
$nav-icon-height: 5px;
$nav-icon-top: 12px;
$nav-icon-color: white;
$nav-margin-mobile: 20px;
$nav-mobile-font: 3rem;
@function multiply-width($value1, $value2) {
    @return $value1 * $value2;
}

@function sum-margin($value1, $value2){
    @return $value1 + $value2;
}


#custom-nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 99;
    top: 0;
    left: 0;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

    a {
        font-size: 1.3rem;
        text-decoration: none;
        transition: ease 300ms;
    }

    .custom-nav-bar-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: absolute;

        img{
            max-width: 5rem;
            transition: ease 3000ms;
            &:hover{
                transform: rotateY(720deg);
            }
        }

        li {
            transition: ease 300ms;
            list-style: none;
            margin: 0 3%;
            a, button {
                color: white;

                &:hover{
                    color: red;
                }
            }

            button{
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
                transition: ease 300ms;
                font-family: 'Bebas Neue';
                font-size: 1.3rem;
            }
        }
    }

    .nav-bar-tel {
        margin-left: auto;
        margin-right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: red;
            font-size: 2rem;
            transform: rotateY(180deg);
            margin-right: 1rem;
        }

        a{
            color: #e2a840;
        }
    }

}

#nav-icon{
    display: none;
    width: $nav-icon-width;
    height: $nav-icon-height;
    background-color: $nav-icon-color;
    appearance: none;
    position: relative;
    transition: ease 300ms;
    cursor: pointer;
    margin: $nav-margin-mobile;
    margin-top: multiply-width($nav-margin-mobile, 2);

    &::after{
        content: "";
        display: block;
        width: 100%;
        background: $nav-icon-color;
        height: 100%;
        transition: ease 300ms;
        top: -$nav-icon-top;
        position: absolute;
    }

    &::before{
        content: "";
        display: block;
        width: 100%;
        background: $nav-icon-color;
        height: 100%;
        top: multiply-width(-$nav-icon-top, 2);
        position: absolute;
        transition: ease 300ms;
    }

    &:checked{
        transform: rotate(45deg);
        &:after{
            opacity: 0;
        }

        &::before{
            top: 0;
            transform: rotate(90deg);
        }
    }
}

.nav-logo-mobile{
    list-style: none;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: 1rem;

    img{
        width: 60px;
    }
}

.nav-bar-autos{
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 6rem;
    background: black;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;

        a{
            color: white;
            transition: ease 300ms;
            &:hover{
                color: red;
            }
        }
    }

    #nav-bar-autos-btn{
        cursor: pointer;
        padding: 0;
        display: none;
        background: none;
        color: white;
        border: none;
        outline: none;
        font-family: 'Bebas Neue';
        font-size: 2rem;
        color: red;
        margin: 0;
        padding: 0;
        p{
            margin: 0;
            padding: 0;
            margin-top: 1rem;
        }
    }
    
}

.vanish{
    display: none !important;
}

.opacity{
    opacity: 0;
}

@keyframes hide-nav {
    0%{
    }
    50%{
        opacity: 1;
    }
    100%{
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 1000px){
    #custom-nav-bar{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: auto;
        background-color: rgba(0, 0, 0, 0.7);

        .custom-nav-bar-menu{
            display: none;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
            padding-right: $nav-margin-mobile;
            position: relative;
            margin-top: 1rem;

            .nav-bar-logo{
                display: none;
            }

            a, button{
                font-size: $nav-mobile-font !important;
            }
        }

        .nav-bar-tel{
            display: none;
            margin-right: $nav-margin-mobile;
            margin-top: 1rem;

            a{
                font-size: $nav-mobile-font;
            }
        }

        #nav-icon{
            display: block;
        }
    }

    .nav-bar-autos{
        width: unset;
        top: 4rem;
        background: none;
        height: 60%;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;

        ul{
            box-sizing: border-box;
            flex-direction: column;
            height: 100%;
            align-items: flex-end;
            list-style: none;
            li{
                a{
                    font-size: 3rem !important;
                }
            }
        }

        #nav-bar-autos-btn{
            display: block;
            width: 100%;
            text-align: end;
        }
    }
}

@media (min-width: 1000px){
    .nav-bar-autos{
        padding: 1rem;   
    }
}

/* Footer */
footer{
    background-color: #353535;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.footer-parte-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 4rem 5%;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba($color: white, $alpha: .2);

    .footer-texto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .texto{
            text-align: start;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            span{
                color: red;
                font-size: 1.3rem;
            }
            p, a{
                color: white;
                opacity: .5;
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }

    .footer-redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        i{
            font-size: 2rem;
            color: white;
            opacity: .5;
            margin: 0 1rem;
            transition: ease 300ms;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.footer-parte-2{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .footer-menu{
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 80%;
        max-width: 50rem;
        min-width: 25rem;
        align-items: center;
        padding: 0;
        justify-content: space-evenly;

        a{
            color: white;
            font-size: 1.5rem;
            opacity: .5;
            transition: ease 300ms;

            &:hover{
                opacity: 1;
            }
        }
    }

    .footer-logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        justify-content: center;

        img{
            max-width: 10rem;
            min-width: 5rem;
            width: 100%;
        }

        p{
            text-align: center;
            color: white;
            opacity: .3;
        }
    }
}


@media (max-width:750px){
    .footer-parte-1{
        flex-direction: column;

        .footer-texto{
            width: 100%;
            justify-content: space-evenly;

            .texto{
                align-items: center;
            }
        }

        .footer-redes{
            width: 100%;
            justify-content: space-evenly;
            margin-top: 2rem;
        }
    }

    .footer-parte-2{
        .footer-menu{
            width: 100%;
        }
    }
}

@media (max-width:490px){
    .footer-parte-2{
        .footer-menu{
            display: none;
        }
    }

}

@media (max-width:370px){
    .footer-parte-1{
        .footer-texto{
            flex-direction: column;

            .texto{
                margin-bottom: 1rem;
            }
        }
    }
}

/* Wpp Icon */
#wpp-chat-icon{
    position: fixed;
    top: 90%;
    right: 3%;
    background: black;
    z-index: 99;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: ease 300ms;

    a{
        color: white;
        font-size: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover{
        transform: scale(1.1);
    }
}

@media (max-width:500px){
    #wpp-chat-icon{
        bottom: 15px;
        right: 15px;
        top: unset;
    }
}