@import "variables.scss";

.woocommerce{
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        width: 100%;

        // Estilos del producto
        li{
            @include product-card;
        }
    }
}



/* Single Product Page */

.product-template-default{
    .single-product-custom-wrapper{
        background-color: #eaeaea;
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .2fr 1fr;
        grid-template-areas: 
        "imagenes imagenes meta" 
        "imagenes imagenes descripcion" 
        "relacionados relacionados relacionados"
        ;
        
        .woocommerce-product-gallery{
            grid-area: imagenes;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        // Product Meta
        .summary{
            grid-area: meta;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 2rem;
            box-sizing: border-box;
            background: #e4e4e4;

            h1{
                margin-top: 4rem;
                margin-bottom: 0;
            }

            .price{
                display: none;
            }

            .woocommerce-product-details__short-description{
                p{
                    font-family: 'Montserrat';
                    font-weight: 300;
                    opacity: .7;
                    margin: 0;
                    font-size: 18px;
                }
            }

            .product_meta{
                margin-top: 1rem;
                border-top: 1px solid rgba(0,0,0,.2);
                width: 50%;
                max-width: 15rem;
                padding-top: 1rem;

                a{
                    color: red;
                }
            }
        }

        // Product Description
        .woocommerce-tabs.wc-tabs-wrapper{
            // margin-top: -20vw;
            grid-area: descripcion;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 2rem;
            box-sizing: border-box;
            background-color: #e4e4e4;

            .tabs.wc-tabs{
                display: none;
            }

            #tab-description{
                p{
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: 300;
                    opacity: 0.7;
                    margin-top: 1rem;
                }
                h2{
                    // margin-top: 0;
                    // margin-bottom: 0;
                    display: none;
                }
            }
        }


        .related{
            grid-area: relacionados;
            background-color: white;
            padding-top: 5rem;
        }
    }
}


.woocommerce-product-gallery{
    position: relative;
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-width: 20rem;
    margin: 0;
    box-sizing: border-box;
    padding: 0;

    // Product ViewPort
    .flex-viewport{
        width: 100%;
        max-width: 800px;
        min-width: 300px;
    }
    .woocommerce-product-gallery__image{
        max-width: 800px;
        min-width: 300px;
        a{
            width: 100%;

            img{
                width: 100%;
                height: auto;
                cursor: pointer;
            }
        }
    }

    .woocommerce-product-gallery__wrapper{
        margin: 0;
    }

    // Product Thumbnails
    .flex-control-thumbs{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        margin: 2rem 0;

        li{
            cursor: pointer;
            list-style: none;
            width: 18%;
            max-width: 15rem;
            background: white;
            min-width: 8rem;
            margin: 1rem;
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
                transition: ease 300ms;
                background-color: white;
            }
        }

        .flex-active{
            transform: scale(1.05);
            box-shadow: 4px 4px 10px 2px rgba(0,0,0,.3);
        }
    }

    // Lupa que agranda la foto producto
    .woocommerce-product-gallery__trigger{
        position: absolute;
        top: 7%;
        left: 5rem;
        z-index: 9;
        background: white;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        box-shadow: 5px 3px 5px #00000014;

        i{
            color: darkgrey;
        }
    }
}


@media (min-width:1300px){
    .product-template-default{
        .single-product-custom-wrapper{
            grid-template-columns: 1fr 2fr 1fr 1fr;
            grid-template-areas:
            "imagenes imagenes meta meta"
            "imagenes imagenes descripcion descripcion"
            "relacionados relacionados relacionados relacionados";

            // Descripcion
            .woocommerce-tabs.wc-tabs-wrapper{
                // margin-top: -17rem;
            }

            // Meta
            .summary{

            }
        }
    }
}

@media (max-width:700px){
    .product-template-default{
        .single-product-custom-wrapper{
            display: flex;            
            flex-direction: column;
            padding-top: 4rem;
            margin-top: 0;
            
            // Meta
            .summary{
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 2rem 1rem;
                
                h1{
                    margin: 0;
                }

                .product_meta{
                    margin-top: 1rem;
                }

                .woocommerce-product-details__short-description{
                    margin: 10px 0;

                    p{
                        opacity: 0.5;
                    }
                }
            }

            // Descripcion
            .woocommerce-tabs.wc-tabs-wrapper{
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 2rem 1rem;
                padding-top: 0;

                #tab-description {
                    h2{
                        display: none;
                    }
    
                    p{
                        font-size: 16px;
                        opacity: 1;
                        margin: 0;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .woocommerce-product-gallery{
        .flex-control-thumbs{
            margin: 1rem 0;
            padding: 0;
            justify-content: center;
            align-items: center;

            li{
                width: 20vw;
                height: 20vw;
                min-width: 75px;
                max-width: 8rem;
                min-height: 75px;
                max-height: 8rem;
            }
        }

        .woocommerce-product-gallery__wrapper{
            margin: 0;
        }

        .woocommerce-product-gallery__trigger{
            top: 20px;
            left: 20px;
        }
    }
}


/* Tienda WooCommerce */
#woocommerce-tienda{
    padding-top: 0;
    /* Banner */
    #banner-tienda-contenedor{
        background-image: url(../img/fila-autos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 70vh;
        width: 100%;
        box-sizing: border-box;

        @include overlay;

        &::before{
            background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, red 120%);
            position: absolute;
            display: block;
            // content: "";
            width: 100%;
            opacity: .7;
            height: 30%;
            bottom: 0;
        }

        h1,p{
            margin: 0 2rem;
            z-index: 2;
            color: white;
        }


        h1{
            width: 30%;
            margin: 0 2rem;
            line-height: 10vw;
            font-weight: 100;
            font-size: 10vw;
            letter-spacing: .4vw;

            span{
                color: red;
            }
        }

        p{
            font-size: 2rem;
            opacity: .5;
            width: 20rem;
        }
    }
    

    /* Categorias Botones y Ford Raptor */
    #tienda-sector-btn-img-categorias{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;

        /* Botones */
        .tienda-categorias-btn{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 6vw;
            margin-top: 5rem;

            h2{
                font-size: 5vw;
                margin: 0;
                margin-bottom: 1rem;
                font-family: 'Montserrat';
            }
            span:first-child{
                font-family: 'Montserrat';
                font-size: 2rem;
                color: red;
                opacity: .5;
            }
        }

        .tienda-categorias-btn-contenedor{
            width: 100%;
            display: grid;
            grid-template-rows: auto auto;
            grid-gap: 1rem;
            box-sizing: border-box;
            grid-template-columns: auto auto auto;
            justify-content: flex-start;
            align-items: flex-start;

            a{
                background-color: #d3d3d338;
                width: 15vw;
                max-width: 12rem;
                max-height: 12rem;
                height: 15vw;
                min-width: 7rem;
                min-height: 7rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                position: relative;
                border: none;
                padding: 0;
                transition: ease 300ms;
                color: #a5a5a5;
                fill: #a5a5a5;
                cursor: pointer;
                margin: 0;
                
                span,svg{
                    position: absolute;
                }

                svg{
                    width: 50%;
                    height: fit-content;
                }

                span{
                    bottom: 10%;
                    font-size: 1.5rem;
                    font-family: 'Bebas Neue';
                }
                &:hover{
                    background-color: red;
                    color: white;
                    fill: white;
                }
            }

            a:nth-child(4){
                svg{
                    transform: rotateY(180deg);
                    
                }
            }

            p{
                font-size: 2rem;
                font-family: 'Montserrat';
                color: red;
                opacity: .5;
            }

            .btn-categorias-active{
                background-color: red;
                color: white;
                fill: white;
            }
        }

        /* Ford Raptor */
        .tienda-categorias-img{
            background-image: url(../img/fondo-tienda-categorias.svg);
            background-position: bottom right;
            background-position-x: 6vw;
            background-position-y: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            justify-content: flex-end;
            align-items: flex-start;
            max-width: 30rem;
            margin-left: auto;

            img{
                width: 100%;
                bottom: 0;
                position: absolute;
                max-width: 30rem;
            }
        }
    }


    /* Categorias Slider */
    .tienda-sector-slider-contenedor{
        width: 100%;
        overflow: hidden;
        padding-top: 5rem;
    }

    .tienda-sector-slider{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        transition: ease 300ms;

        .tienda-sector-slide{
            width: 100vw;
            height: 30rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .categoria-slide-texto{
                background-color: #f7f7f7;
                padding: 2rem 0;
                width: 30%;
                height: 100%;
                padding-left: 2rem;
                font-family: 'Montserrat';
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                p{
                    font-size: 1.2rem;
                    margin: 0;
                    color: red;
                    opacity: .5;
                    font-weight: 500;
                    width: 90%;
                }

                h2{
                    font-size: 5vw;
                    margin: 0;
                    margin-bottom: 2rem;
                    color: black;
                    line-height: 5vw;
                }

                a{
                    color: red;
                    border: 2px solid red;
                    padding: .2rem 1.5rem;
                    font-weight: 500;
                    border-radius: 50px;
                    transition: ease 300ms;

                    &:hover{
                        background-color: red;
                        color: white;
                    }
                }

            }
            
            .categoria-slide-slider{
                background-color: #2d2d2d;
                width: 70%;
                height: 100%;
                position: relative;
            }
        }

        // Producto Cartas Estilos
        .categoria-slide-slider{
            .splide__list{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                li{
                    @include product-card;
                    max-width: 25rem;
                }
            }

            .splide__slide{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cat-splide{
                position: relative;
                height: 100%;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
            }

            .splide__track{
                width: 90%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            .splide__pagination{
                .is-active{
                    background: red;
                }
            }

            .splide__arrows{
                .splide__arrow{
                    fill: red;
                    width: 2rem;
                    border: 2px solid red;
                    background: none;
                    height: 2rem;
                    transition: ease 300ms;
                    &:hover{
                        background: red;
                        fill: white;
                    }
                }

                .splide__arrow--next{
                    right: 2rem;
                }
                .splide__arrow--prev{
                    left: 1rem;
                }
            }
            
        }

        .tienda-sector-slide:nth-child(5){
            h2{
                font-size: 4vw;
            }
        }
    }

    /* Paginator de Categoria Slider */
    .tienda-slider-paginator{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;

        .paginator-btn{
            overflow: hidden;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border: none;
            outline: none;
            margin: 0 1rem;
            fill: #a5a5a5;
            transition: 300ms ease;
            cursor: pointer;
            svg{
                width: 100%;
            }

            &:hover{
                fill: red;
            }
        }

        .paginator-btn-active{
            fill: red;
            transform: scale(1.3);
        }
    }
    .titulo-slider-paginator{
        p{
            color: red;
            text-align: center;
            opacity: .5;
            margin: 0;
            margin-top: 1rem;
            margin-bottom: -1rem;
        }
    }


    /* Todos los productos */
    .tienda-todos-productos-contenedor{
        margin-top: 5rem;
        padding: 0 7vw;
        .texto{
            h2{
                font-weight: 100;
                font-size: 4rem;
                letter-spacing: 2px;
                margin: 0;
                line-height: 5rem;
            }
            p{
                margin: 0;
                font-size: 2rem;
                color: red;
                margin-bottom: -1rem;
            }
        }

        .woocommerce-ordering{
            select{
                font-family: 'Bebas Neue';
                font-size: 1rem;
                color: red;
                outline: none;
                border: 2px solid red;
                padding: .5rem;
                transition: ease 300ms;
                cursor: pointer;

                &:hover {
                    background: red;
                    color: white !important;
                }

                option{
                    color: black;
                    background: white;
                }
            }
            
        }

        .products{
            justify-content: space-between;
            li{
                width: 23vw;
            }
        }
    }
}

@media (min-width:1450px){
    #woocommerce-tienda{
        /* Banner */

        #banner-tienda-contenedor{
            h1{
                line-height: 8rem;
                font-size: 9rem;
                letter-spacing: 5px;
            }
        }
    }
}

@media (max-width:850px){
    #woocommerce-tienda{
        // Banner
        #banner-tienda-contenedor{
            h1{
                font-size: 15vw;
                line-height: 14vw;
            }
            p{
                font-size: 1.5rem;
                letter-spacing: 1px;
            }
        }

        // Boton categorias
        #tienda-sector-btn-img-categorias{
            .tienda-categorias-btn-contenedor{
                a{
                    svg{
                        width: 45%;
                    }
                    span{
                        font-size: 18px;
                    }
                }
                
            }
        }

        // Slider categorias
        .tienda-sector-slider{
            .tienda-sector-slide{
                .categoria-slide-texto{
                    p{
                    }
                }
            }
        }

        // Todos los productos
        .tienda-todos-productos-contenedor{
            .products{
                justify-content: center;
            }
        }
    }
}

@media (max-width:650px){
    #woocommerce-tienda{

        // Banner
        #banner-tienda-contenedor{
            text-align: center;
        align-items: center;
        justify-content: center;
            h1{
                width: 90%;
            }
        }

        // Categoria Botones contenedor
        #tienda-sector-btn-img-categorias{
            display: flex;
            justify-content: center;
            align-items: center;

            .tienda-categorias-btn{
                padding: 0;
                justify-content: center;
                align-items: center;

                .tienda-categorias-btn-contenedor{
                    justify-content: center;
                    align-items: center;

                    a{
                        width: 25vw;
                        height: 25vw;
                        min-width: 6rem;
                        min-height: 6rem;
                    }
                }
            }

            .tienda-categorias-img{
                display: none;
            }
        }

        // Slider Categorias
        .tienda-sector-slider{
            .tienda-sector-slide{
                height: 36rem;
                flex-direction: column;

                .categoria-slide-texto{
                    padding: 2rem 1rem;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 30%;

                    h2{
                        font-size: 2.5rem;
                        margin-top: 1rem;
                    }
                }

                .categoria-slide-slider{
                    width: 100%;
                }
            }
        }

        // Todos los productos
        .tienda-todos-productos-contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .texto{
                text-align: center;

                h2{
                    font-size: 10vw;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width:450px){
    #woocommerce-tienda{
        // Banner
        #banner-tienda-contenedor{
            h1{
                font-size: 20vw;
                line-height: 18vw;
            }
            p{
                width: 90%;
            }
        }

        // Slider Categorias
        .tienda-sector-slider{
            .categoria-slide-slider{
                .splide__arrows{
                    .splide__arrow--next{
                        right: 1rem;
                    }
                }

                .splide__list{
                    li{
                        max-width: 18rem;
                        min-width: 18rem;
                    }
                }
            }
        }
    } 
}

// Media Query para Notebooks
@media (min-aspect-ratio: 260/131){
    #woocommerce-tienda{
        #banner-tienda-contenedor{
            height: 100vh;
        }
    }
}